
.body_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.encode_container{
    width: 100%;
height: 39rem;

display: flex;
flex-flow: row wrap;
align-self: center;
justify-content: center;
align-items: center;

}

.upload_container{
   
   display: flex;
   flex-flow: row wrap;
   height: auto;
   width: auto;
}
.upload_image{
    margin: 2rem;
    width: 21.0625rem;
    height: 16.875rem;
    flex-shrink: 0;
    border: 1.5px dashed #948D8D;
background: rgba(207, 207, 207, 0.13);
display: flex;
flex-flow: column wrap;
justify-content: center;
align-items: center;

}
.combo_logo{
    margin: 2rem;
    width: 3.625rem;
height: 3.9375rem;
flex-shrink: 0;
align-self: center;

}
.text_conatiner{
    margin: 2rem;
    width: 21.0625rem;
height: 16.875rem;
flex-shrink: 0;
border-radius: 1.25rem;
border: 1px solid #F1F1F1;
background: #F9F9F9;
box-shadow: 0px 2px 10px 2px rgba(65, 60, 60, 0.25);

}

.image_logo{
    width: 5.9375rem;
height: 5.9375rem;
flex-shrink: 0;
}
.upload_logo{
    width: 8.5625rem;
height: 2.25rem;
flex-shrink: 0;
background: rgba(207, 207, 207, 0.13);
display: flex;
align-items: center;
justify-content: center;

}
.upload_text{
   
    color: #8C8080;
    font-family: "Noto Sans", sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
text-wrap: nowrap;
}

.upload_icon{
    width: 2.5rem;
height: 2.25rem;
flex-shrink: 0;
}

.image_field{
   display: none;
}

.textbox{
    
    border: 'none';
    outline: 'none';
    width: 21.0625rem;
height: 16.875rem;
flex-shrink: 0;
border-radius: 1.25rem;
border: 1px solid #F1F1F1;
background: #F9F9F9;
caret-color: red;
caret-shape: bar;
font-size: 1.3rem;

}

.textbox::placeholder {
  text-align: center;

    color: #918b8b;
    font-family: "Noto Sans", sans-serif;
font-size: 1.4375rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.encode_button{
  margin-left: 21rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16.50944rem;
height: 4.875rem;
flex-shrink: 0;
border-radius: 1.25rem;
background: #6398FE;
}
button {
    all: unset;
  }
  
.textenc{

    color: #FFF;
font-family: SansSerif;
font-size: 1.875rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.downloadimage{
   

}